---
    import CommandLine from './CommandLine.svelte'
    const title = Astro.props.title || "DevSync"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <!-- PWA work -->
    <script>
        import {init} from '../stores/extantion'
        init()
    </script>
</head>
<body>
    <slot/>
    <CommandLine client:only />
</body>
</html>