---
import HtmlLayout from '../../layouts/html.astro'
import AppLayout from '../../layouts/app.astro'
---

<HtmlLayout>
    <AppLayout>
        <h1 class="w-full grid place-items-center text-3xl">Default page</h1>
    </AppLayout>
</HtmlLayout>